# Virtual environment
gsn_env/
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/
EMAG2_V3_20170530.csv
